<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="<% settings.charset %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Tlociu <% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<header id="site-header">
    <div class="container">
        <a class="site-title" href="<% request.uri_for('/') %>">Tlociu</a>
        <nav>
            <a href="<% request.uri_for('/') %>">All Entries</a>
            <a href="<% request.uri_for('/entry/create') %>">New Entry</a>
        </nav>
    </div>
</header>

<main class="container">
<% content %>
</main>

<footer id="footer">
    Powered by <a href="http://perldancer.org/">Dancer2</a> <% dancer_version %>
</footer>

</body>
</html>
