<div id="entries">
<% IF entries.size %>
    <dl>
    <% FOREACH entry IN entries %>
        <dt><a href="/entry/<% entry.id %>"><% entry.title | html_entity %></a>
            (created at <% entry.created_at | html_entity %>)</dt>
        <dd><% entry.watchlist_notes | html_entity %></dd>
        <dd><% entry.watched_notes | html_entity %></dd>
    <% END %>
    </dl>
<% ELSE %>
    <p>No entries found.</p>
<% END %>
</div>
